.fundo_painel{
  background-color: #e0e0df;
}

.espacamento {
    color: rgb(0, 0, 0);
    width:100px;
    position:relative;
    right: -50px;;
      }
     .bordas {
      display: inline-block;
      width: 300px;
      height: 500px;
      margin: 30px;
    }
      .fundinho1{
        background-color: #ffffff;
      }
     
      .fundinho2{
        background-color: #444444;
      }
    
      .fundinho3{
        background-color: #eeeeee;
      }
      .carousel-control-prev-icon, .carousel-control-next-icon {
        height: 75px;
        width: 75px;
        outline: black;
        background-color: rgba(0, 0, 0, 0.3);
        background-size: 50%, 50%;
        border-radius: 25%;
        border: 1px solid black;
    }
      .btnAzul{
        color:rgb(0, 140, 255)
      }
      .painel1{
        color:dodgerblue;
        font-family: 'Courier New';
      }
      .painel2{
        color:rgb(25, 0, 85);
        font-family:Georgia;
      }
      .painel3{
        color:rgb(124, 124, 124);
        font-family:serif;
      }